h2 Write a new event
label(for='title') Title: 
input(ng-model='form.title', name='title')
p Description:
textarea(ng-model='form.text', cols='100', rows='5')
p Place
input(ng-model='form.place', name='place')
p
  button(ng-click='submitEvent()') Submit Event