p There are {{events.length}} events
div(ng-repeat='event in events')
  h3 {{event.title}}
  div {{event.text}}
  a(href='/readEvent/{{event.id}}') More
  |  - 
  a(href='/editEvent/{{event.id}}') Edit
  |  - 
  a(href='/deleteEvent/{{event.id}}') Delete