p There are {{events.length}} events
.results-container
    ul.event-list
        li(ng-repeat='event in events')
            .row-fluid
                .span3
                    h3 {{event.title}}
                .span6
                    div {{event.text}}
                .span3
                    a(href='/readEvent/{{event.id}}') More
                    |  -
                    a(href='/editEvent/{{event.id}}') Edit
                    |  -
                    a(href='/deleteEvent/{{event.id}}') Delete