.container
    .well
        #alert(ng-repeat="alert in alerts",type="alert.type",close="closeAlert($index)") {{alert.msg}}
        #button.btn(ng-click='addAlert()') Add Alert

        tabset
            tab(heading="Static title") Static content
            tab(heading="Static title2") Static content

